#pattern  filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y9999/d01/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d01/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d02/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d03/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d04/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d06/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d07/input.txt filter=crypt diff=crypt merge=crypt
2023/kotlin/inputs/aockt/y2023/d08/input.txt filter=crypt diff=crypt merge=crypt
